/* styles.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#chessboard {
    display: grid;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: repeat(8, 60px);
    gap: 1px;
}

.square {
    width: 60px;
    height: 60px;
}

.square:nth-child(odd) {
    background-color: #eee;
}

.square:nth-child(even) {
    background-color: #ddd;
}

.piece {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}
