body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000; /* 배경색을 검은색으로 설정하여 하얀 줄이 잘 보이게 함 */
}

.line {
    width: 2px; /* 줄의 두께 */
    height: 100%;
    background-color: #fff; /* 줄의 색상 */
}
